<%= stylesheet_link_tag    'equipment', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'equipment', 'data-turbolinks-track' => true %>

<div class="row">

	<!-- second column listing - use custom-list in application.css.scc for style -->
	<div id="equipment-column" class="col-md-3 custom-list-column">
		<div id="equipment-list-header" class="custom-list-header">
				<h2>Equipment</h2>
				<button id="add-eqi-button" type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal"/>
				<span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
		</div>
		<ul id="equipment-list" class="list-group custom-list-listing">
			<% @equipment.each do |e| %>
				 <%= link_to e.id.to_s do %>
				<li class="list-group-item custom-list-item">
					<span class="glyphicon glyphicon-wrench">
					<%= e.name %>
				</li>
				<% end %>
			<% end %>
		</ul>
	</div><!-- end second column listing -->

	<!-- begin third column listing -->
	<div id="rental-colum" class="col-md-9">
		<h2>Current Equipment: <%= @currentEquipment.name %></h2>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add Equipment</h4>
      </div>
      <div class="modal-body">
				<div class="row">
				  <div class="col-md-6 col-md-offset-3">

						<form>
							<div class="modal-label">
						  Equipment name:
						  	<input type="text" name="equipment-name"/>
						  </div>

							<div class="modal-label">
						  Tag number:
						  	<input type="text" name="tag-number"/>
						  </div>

							<div class="modal-label">
								<span class="modal-time">
						  		Time Available (if any):
							  	<input type="time" name="starttime"/>
							  	<input type="time" name="endtime"/>
								</span>
						  </div>

							<div class="modal-label">
						  Days:
						  	<input type="checkbox" name="day" value="S"> S </input>
						  	<input type="checkbox" name="day" value="M"> M </input>
						  	<input type="checkbox" name="day" value="T"> T </input>
						  	<input type="checkbox" name="day" value="W"> W </input>
						  	<input type="checkbox" name="day" value="R"> R </input>
						  	<input type="checkbox" name="day" value="F"> F </input>
						  	<input type="checkbox" name="day" value="S"> S </input>
						  </div>

							<div class="modal-label">
							Description:
									<textarea class="modal-description"></textarea>
							</div>

							<div class="modal-label">
							Category:
								<select>
								  <option value="club">Technology</option>
								  <option value="faculty">Tools</option>
								  <option value="class">Basic Supplies</option>
								  <option value="study">Peripheral Device</option>
								  <option value="other">Other</option>
								</select>
							</div>

							<div class="modal-label">
							Value:
						  	<input type="text" name="value"/>
							</div>

						</form>

				  </div>
				</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<!-- Remove data-dismiss="model" to actually save -->
        <button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
      </div>
    </div>
  </div>
</div>
