<%= stylesheet_link_tag    'equipment', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'equipment', 'data-turbolinks-track' => true %>

<div class="row">

	<!-- second column listing - use custom-list in application.css.scc for style -->
	<div id="equipment-column" class="col-md-3 custom-list-column">
		<div id="equipment-list-header" class="custom-list-header">
				<h2>Equipment</h2>
				<button title="Add Equipment" id="add-eqi-button" type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal"/>
				Add Equipmment</button>
		</div>
		<ul id="equipment-list" class="list-group custom-list-listing">
			<% @equipment.each do |e| %>
				 <%= link_to e.id.to_s do %>
				<li class="list-group-item custom-list-item">
					<span class="glyphicon glyphicon-wrench"></span>
					<%= e.name %>
				</li>
				<% end %>
			<% end %>
		</ul>
	</div><!-- end second column listing -->

	<!-- begin third column listing -->
	<div id="rental-colum" class="col-md-9">
		<h2>Current Equipment: <%= @currentEquipment.name %></h2>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add Equipment</h4>
      </div>
      <div class="modal-body">
				<div class="row">
				  <div class="col-md-10 col-md-offset-2">

					<%= form_for @newEquipment, url: {action: "newEquipment"} do |f| %>
            
						<div class="modal-label row">
						 	<label for="exampleInputName2" class="col-sm-4 control-label">Equipment name:</label>
                			<div class="col-sm-8">
                  				<%= f.text_field :name %>
                			</div>
						 </div>

						<div class="modal-label row">
						 	<label for="exampleInputName2" class="col-sm-4 control-label">Tag Number:</label>
                			<div class="col-sm-8">
                  				<%= f.text_field :tag_number %>
                			</div>
						 </div>


							<div class="modal-label row">
								<label for="exampleInputName2" class="col-sm-4 control-label">Decription:</label>
								<div class="col-sm-8">
									<%= f.text_area :description %>
								</div>
							</div>

							<div class="modal-label row">
								<label for="exampleInputName2" class="col-sm-4 control-label">Category: </label>
								<select>
								  <option value="club">Technology</option>
								  <option value="faculty">Tools</option>
								  <option value="class">Basic Supplies</option>
								  <option value="study">Peripheral Device</option>
								  <option value="other">Other</option>
								</select>
							</div>

							<div class="modal-label row">
								<label for="exampleInputName2" class="col-sm-4 control-label">Cost: </label>
								<select>
								  <option value="Low">Low</option>
								  <option value="Medium">Medium</option>
								  <option value="High">High</option>
								</select>
							</div>
							<div class= "row">
								<div class="col-sm-8"></div>
								<div class="col-sm-4">
									<%= f.submit %>
								</div>
							</div>
						<% end %>

				  </div>
				</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<!-- Remove data-dismiss="model" to actually save -->
        <button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
      </div>
    </div>
  </div>
</div>
