<%= stylesheet_link_tag    'events', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'events', 'data-turbolinks-track' => true %>

<div class="row">
	

	<!-- second column listing - use custom-list in application.css.scc for style -->
	<div id="room-column" class="col-md-3 custom-list-column">
		<div id="room-list-header" class="custom-list-header">
				<h2>Rooms</h2><!-- Button trigger modal -->
				<button title="Add Room" id="add-room-button" type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal"/>
				<span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
		</div>
		<ul id="room-list" class="list-group custom-list-listing">
			<% @rooms.each do |r| %>
				 <%= link_to r.id.to_s do %>
				<li class="list-group-item custom-list-item">
					<span class="glyphicon glyphicon-book"></span>
					<%= r.name %>
				</li>
				<% end %>
			<% end %>
		</ul>
	</div><!-- end second column listing -->

	<!-- begin third column listing -->
	<div id="event-column" class="col-md-9">
		<h2 id="room-title">Current Room: <%= @currentRoom.name %></h2>
		<div id ="room-description">
			<span class="descriptor">Description: </span>
			<%= @currentRoom.description %>
		</div>
		<div id="room-size">
			<span class="descriptor">Maximum Size: </span>
				<%= @currentRoom.capacity %>
		</div>
		<div id="current-and-upcoming-events" class="panel panel-default">
			<div class="panel-heading">
				Current and Upcoming events
			</div>
			<ul class="list-group">
				<% @events.each do |e| %>
					<li class="list-group-item">
						<img class="img-circle event-image"></img>
						<%= e.name %>
					</li>
				<% end %>
			</ul>
		</div>

		<div id="add-event-fab" class="row">
			<div class="col-md-9"></div>
			<div class="col-md-3">
				Request Event
				<button type ="button" id="add-event-button" class="btn btn-default"  data-toggle="modal" data-target="#eventModal">
					<span class="glyphicon glyphicon-plus"></span>
				</button>
			</div>
			
		</div>
	</div>

	
</div>



<!-- Add Room Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add Room</h4>
      </div>
      <div class="modal-body">
				<div class="row">
				  <div class="col-md-10 col-md-offset-1">
            <%= form_for @newRoom, url: {action: "newRoom"} do |f| %>
              <div class="modal-label form-group">
                  <label for="exampleInputName2" class="col-sm-4 control-label">Room name:</label>
                  <div class="col-sm-8">
                    <%= f.text_field :name %>
                  </div>
                </div>


							<div class="modal-label form-group">
								<label for="exampleInputName2" class="col-sm-4 control-label">Room number:</label>
								<div class="col-sm-8">
                  <%= f.text_field :number %>
						  	</div>
						  </div>

							
							<div class="modal-label form-group">
								<label for="exampleInputName2" class="col-sm-4 control-label">
									Description:
								</label>
								<div class="col-sm-8">
                  <%= f.text_area :description %>
                </div>
							</div>

							<div class="modal-label form-group">
								<label for="exampleInputName2" class="col-sm-4 control-label">
									Category:
								</label>
								<div class="col-sm-8">
									<%= select_tag(:category, options_for_select([['',0],['Club', 1],['Faculty', 2],["Class", 3],["Study", 4], ["Other", 5]],0)) %>
                  
								</div>
							</div>

							<div class="modal-label form-group">
								<label for="exampleInputName2" class="col-sm-4 control-label">
									Allow food:
								</label>
								<div class="col-sm-8">
									<%= f.check_box :allowFood %>
                  
								</div>
							</div>

							<div class="modal-label form-group">
								<label for="exampleInputName2" class="col-sm-4 control-label">
									Has Projector:
								</label>
								<div class="col-sm-4">
                    <%= f.check_box :hasProjector %>
								</div>
							</div>

							<div class="modal-label form-group">
								<label for="exampleInputName2" class="col-sm-4 control-label">
									Capacity:
								</label>
								<div class="col-sm-8">
                  <%= f.text_field :capacity %>
								</div>
							</div>
              <%= f.submit "Create" %>
            <% end %> <!-- end form -->
				  </div>
				</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<!-- Remove data-dismiss="model" to actually save -->
        <button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Request Event</h4>
      </div>

      <div class="modal-body">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">

            <!--<%= render("form") %>-->

            <form class="form-horizontal">
              <div class="modal-label form-group">
                <label for="exampleInputName2" class="col-sm-4 control-label">Room name:</label>
                <div class="col-sm-8">
                  <input type="text" name="roomname" placeholder="Room Name" value="<%=	@currentRoom.name  %>"/>
                </div>
              </div>

              <div class="modal-label form-group">
                <label for="exampleInputName2" class="col-sm-4 control-label">Room number:</label>
                <div class="col-sm-8">
                  <input type="text" name="roomnumber" placeholder="Room Number" value="<%=	 @currentRoom.id %>"/>
                </div>
              </div>


              <div class="modal-label form-group">
                <label for="exampleInputName2" class="col-sm-4 control-label">
                  Description:
                </label>
                <div class="col-sm-8">
                  <textarea class="modal-description"></textarea>
                </div>
              </div>

              <div class="modal-label form-group">
                <label for="exampleInputName2" class="col-sm-4 control-label">
                  Event date:
                </label>
                <div class="col-sm-8">
                  <input type="date" name="starttime"/>
                </div>
              </div>

              <div class="modal-label form-group">
                                <label for="exampleInputName2" class="col-sm-4 control-label">
						  		    Event start time:
                                </label>
                                <div class="col-sm-8">
							  	    <input type="time" name="starttime"/>
                                </div>
              </div>

              <div class="modal-label form-group">
                <label for="exampleInputName2" class="col-sm-4 control-label">
                  Event end time:
                </label>
                <div class="col-sm-8">
                  <input type="time" name="starttime"/>
                </div>
              </div>

              <div class="modal-label form-group">
                <label for="exampleInputName2" class="col-sm-4 control-label">
                    Repeat on days:
                </label>
                <div class="col-sm-8">
                    <input type="checkbox" name="day" value="S"> S </input>
                    <input type="checkbox" name="day" value="M"> M </input>
                    <input type="checkbox" name="day" value="T"> T </input>
                    <input type="checkbox" name="day" value="W"> W </input>
                    <input type="checkbox" name="day" value="R"> R </input>
                    <input type="checkbox" name="day" value="F"> F </input>
                    <input type="checkbox" name="day" value="S"> S </input>
                </div>
              </div>

              <div class="modal-label form-group">
                <label for="exampleInputName2" class="col-sm-4 control-label">
                  Repeat until:
                </label>
                <div class="col-sm-8">
                  <input type="date" name="repeat date"/>
                </div>
              </div>

              <div class="modal-label form-group">
                <label for="exampleInputName2" class="col-sm-4 control-label">
                  Category:
                </label>
                <div class="col-sm-8">
                  <select>
                    <option value="club">Club</option>
                    <option value="faculty">Faculty</option>
                    <option value="class">Class</option>
                    <option value="study">Study</option>
                    <option value="other">Other</option>
                  </select>
                </div>
              </div>

              <div class="modal-label form-group">
                <label for="exampleInputName2" class="col-sm-4 control-label">
                  Will the event have food:
                </label>
                <div class="col-sm-8">
                  <input type="checkbox" name="food" value="food"></input>
                </div>
              </div>

              <div class="modal-label form-group">
                <label for="exampleInputName2" class="col-sm-4 control-label">
                  Need Projector:
                </label>
                <div class="col-sm-4">
                  <input type="checkbox" name="projector" value="projector"></input>
                </div>
              </div>

              <div class="modal-label form-group">
                <label for="exampleInputName2" class="col-sm-4 control-label">
                  Expected attendance:
                </label>
                <div class="col-sm-8">
                  <input type="text" name="capacity"/>
                </div>
              </div>

            </form>

          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <!-- Remove data-dismiss="model" to actually save -->
        <button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
      </div>
    </div>
  </div>
</div>

