<%= stylesheet_link_tag    'events', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'events', 'data-turbolinks-track' => true %>

<div class="row">
	<div id="room-column" class="col-md-3">
		<div id="room-list-header">
				<h2>Rooms</h2><button type="button" class="btn btn-default" >
				<span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
		</div>
		<ul id="room-list" class="list-group">
			<% @rooms.each do |r| %>
				 <%= link_to r.id.to_s do %>
				<li class="list-group-item">
					<span class="glyphicon glyphicon-book">
					<%= r.name %>
				</li>
				<% end %>
			<% end %>
		</ul>
	</div>
	<div id="event-colum" class="col-md-9">
		<h2>Current Room: <%= @currentRoom.name %></h2>
		
		<ul>
			<lh>Approved Events for room</lh>
			<% @events.each do |e| %>
				<li><%= e.name %>
			<% end %>
		</ul>

		<ul>
			<lh>Events pending approval</lh>
			<% @pendingEvents.each do |e| %>
				<li><%= e.name %>
			<% end %>
		</ul>
	</div>
</div>