<html>
<head>
	<style>
	table{
		border: 1px solid black;
		padding:0px;
		background-color: black;
	}
	td,th{
		padding: 5px 10px;
		margin: 0px;
		border:1px solid black;
		background-color: #444444;
		color: white;
	}
</style>
</head>

<body>

	


<%= link_to("<< Back to List", {:action => 'index'}, :class=> 'back-link') %>

<div class="Users new">
	<h2>Create New User</h2>

	<%= form_for(:user, :url => {:action => 'update',:id => @user.id}) do |f| %>
	<table summary="User from fields">
		<tr>
			<th>First Name</th>
			<td><%= f.text_field(:first_name) %></td>
		</tr>
		<tr>
			<th>Last Name</th>
			<td><%= f.text_field(:last_name) %></td>
		</tr>
		<tr>
			<th>Email</th>
			<td><%= f.text_field(:email) %></td>
		</tr>
		<tr>
			<th>Password</th>
			<td><%= f.text_field(:password) %></td>
		</tr>
		<tr>
			<th>Is Teacher</th>
			<td><%= f.text_field(:teacher) %></td>
		</tr>
		<tr>
			<th>Image URL</th>
			<td><%= f.text_field(:image_url) %></td>
		</tr>
	</table>
	<div class="form-button">
		<%= submit_tag("Update User") %>
	</div>
<% end %>
</div>
		
</body>
</html>