<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <style>
    body{
      background-color: #333333;
      color:#CCCCCC;
    }
    h1{
      color:#888888;

    }
    a,a:hover,a:visited{
      color:#CCCCCC;
      text-decoration: none;
    }
    .container{
      height:100%;
      margin:0px;
    }
    #page-row{
      height:100%;
    }
    #navigation{
      margin-left:0;
      height: 100%;
    }
    .navigation-option{
      width:100%;
      padding: 10px 20px;
      margin-top: 10px;
      -moz-border-radius: 7px 7px 7px 7px;
    -webkit-border-radius: 7px 7px 7px 7px;
    }
    .navigation-option:hover{
      background-color: #666666;
    }

    .navigation-option p{
      display: inline;
      padding-left: 10px;
      font-size: 20px;
    }
    .current{

      background-color: #00BFFF;
    }
    .current a{
      color:black;
    }
  </style>

</head>
<body class ="container">
  <div class= "row" id = "page-row">
      <div class ="col-md-3" id="navigation">
        <h1> Eventus</h1>
        <div class = "navigation-option current">
          <%= link_to '/dashboard/show' do %>
            <span class="glyphicon glyphicon-home"></span><p>Dashboard</p>
          <% end %>
        </div>
        <div class = "navigation-option">
          <%= link_to '/events/show' do %>
            <span class="glyphicon glyphicon-book"></span><p>Rooms/Events</p>
          <% end %>
        </div>
        <div class = "navigation-option">
          <%= link_to '/equipment/show' do %>
            <span class="glyphicon glyphicon-wrench"></span><p>Equipment</p>
          <% end %>
        </div>
        <div class = "navigation-option">         
          <%= link_to '/users/show' do %>
            <span class="glyphicon glyphicon-user"></span><p>Users</p>
          <% end %>
        </div>
        <div class = "navigation-option">         
          <%= link_to '/requests/show' do %>
            <span class="glyphicon glyphicon-envelope"></span><p>Requests</p>
          <% end %>
        </div>
        <div class = "navigation-option">         
          <%= link_to '/settings/show' do %>
            <span class="glyphicon glyphicon-asterisk"></span><p>Settings</p>
          <% end %>
        </div>
      </div>
      <div class = "col-md-9" id="main-content"><%= yield %></div>
  </div>

</body>
</html>
