<!DOCTYPE html>
<html>
<head>
  <title>Eventus</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

</head>
<body class ="container">
  <div class= "row" id = "page-row">
      <div class ="col-md-3" id="navigation">
        <%= link_to '/dashboard/show' do %>
          <h1> Eventus</h1>
        <% end %>
        <div class = "navigation-option" id="dashboard-select">
          <%= link_to '/dashboard/show' do %>
            <span class="glyphicon glyphicon-home"></span><p>Dashboard</p>
          <% end %>
        </div>
        <div class = "navigation-option" id="events-select">
          <%= link_to '/events/show/1' do %>
            <span class="glyphicon glyphicon-book"></span><p>Rooms/Events</p>
          <% end %>
        </div>
        <div class = "navigation-option" id="equipment-select">
          <%= link_to '/equipment/show/1' do %>
            <span class="glyphicon glyphicon-wrench"></span><p>Equipment</p>
          <% end %>
        </div>
        <div class = "navigation-option" id="users-select">
          <%= link_to '/users/show/1' do %>
            <span class="glyphicon glyphicon-user"></span><p>Users</p>
          <% end %>
        </div>
        <div class = "navigation-option" id="requests-select">
          <%= link_to '/requests/show' do %>
            <span class="glyphicon glyphicon-envelope"></span><p>Requests</p>
          <% end %>
        </div>
        <div class = "navigation-option" id="settings-select">
          <%= link_to '/settings/show' do %>
            <span class="glyphicon glyphicon-asterisk"></span><p>Settings</p>
          <% end %>
        </div>
        <ul id="quick-add" class="list-group">
          <h2 id="quick-add-title" class="list-group-item">Quick Add </h2>

          <li class="list-group-item">
            <select class="form-control">
              <option disabled selected>Choose a Request</option>
              <option>Request 1</option>
              <option>Request 2</option>
              <option>Request 3</option>
            </select>
          </li>
          <li class="list-group-item">
            <select class="form-control">
              <option disabled selected>Select a User</option>
              <option>User 1</option>
              <option>User 2</option>
              <option>User 3</option>
            </select>
          </li>
          <li class="list-group-item">
            <div class="form-inline">
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-addon">From: </div>
                  <input text="text" class="form-control datepicker">
                  <div class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></div>
                </div>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="form-inline">
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-addon">To: </div>
                  <input text="text" class="form-control datepicker">
                  <div class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></div>
                </div>
              </div>
            </div>
          </li>

          <li class="list-group-item">
            <div class="form-inline">
              <div class="form-group">
                <div class="input-group">

                  <button type="button" class="btn btn-default btn-lg btn-block">
                    Add <span class="glyphicon glyphicon-plus-sign"></span>
                  </button>
                </div>
              </div>
            </div>
          </li>
        </form>
      </div>
      <div class = "col-md-9" id="main-content"><%= yield %></div>
  </div>

</body>
</html>
